<h2>Create Groundbreaking Shiz</h2>
  <div id="container">
    <form method="POST" action="/posts">	   <label for="post_title">Title</label>
    <input type="text" name="title">
	  <label for="body">your prose</label>
	  <input type="body" name="body">
	<input type="submit" value="submit">
</form>
</div>
