<h2> ah, nice to see you again <% @username %> ! </h2>
<h3>here's your feed! click on their title below to see your buddies personal post:</h3>
<p>
  <ul>
    <% @posts.each do |post| %>
    <li><a href='/posts'
      <ul>
        <li>title: <%= post.title %></li></a>
        wrote at: <%= post.created_at %>
      </ul>
    </li>
    <% end %>
  </ul>
</p>
