<p>
  <ul>
    <% @posts.each do |post| %>
    <li><a href='/posts'
      <ul>
        <li>title: <%= post.title %></li></a>
        wrote at: <%= post.created_at %>
      </ul>
    </li>
    <% end %>
  </ul>
</p>
