<!DOCTPE html
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>k&paula's sinatra blog beach</title>
</head>
<body>
  <% if flash[:notice] %>
    <div class="flash notice">
      <%= flash[:notice] %>
    </div>
<% end %>
  <ul>
    <li>
      <a href='/'>Home</a>
    </li>
      <li>
        <a href='/posts'>Your Posts, all you</a>
      </li>
      <li>
        <a href='/signup'>sign out/sign up</a>
      </li>
      <li>
        <a href='/create'>say something</a>
      </li>
    </ul>
<h1>welcome to the makeshift twitter</h1>
<p>hope we don't get sued for using that name lol.</p>

  <%= yield %>
<!-- the yeild method indicates where my templates are embedded -->
</body>
</html>
