<html>
<head>
  <title>my posts beach</title>
</head>
<body>
<h1>welcome to the makeshift twitter</h1>
<p>hope we don't get sued for using that name lol.</p>
<h6>here are your posts</h6>
  <%= yield %>
<!-- the yeild method indicates where my templates are embedded -->
</body>
</html>
